[access]
	inheritFrom = All-Projects
[project]
	description = CI infrastructure management and control repo
[access "refs/*"]
	owner = group ldap/akraino-gerrit-ci-management-committers
	owner = group ldap/lf-releng
	owner = group saml/akraino-gerrit-ci-management-committers
	owner = group saml/lf-releng
	read = group Anonymous Users
	read = group GitHub Replication
	viewDrafts = group ldap/akraino-gerrit-ci-management-committers
	viewDrafts = group ldap/lf-collab-admins
