[access]
	inheritFrom = All-Projects
[project]
	description = CI infrastructure management and control repo
[access "refs/*"]
	owner = group ldap/akraino-gerrit-ci-management-committers
	owner = group ldap/lf-collab-admins
	read = group Anonymous Users
	read = group GitHub Replication
	read = group ldap/akraino-gerrit-att-early-access
	viewDrafts = group ldap/akraino-gerrit-att-early-access
	viewDrafts = group ldap/akraino-gerrit-ci-management-committers
	viewDrafts = group ldap/lf-collab-admins
